<component name="ArtifactManager">
  <artifact type="war" name="springboot:war">
    <output-path>$PROJECT_DIR$/test_tomcat/springboot/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot:war exploded" />
    </root>
  </artifact>
</component>