<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-angular:war">
    <output-path>$PROJECT_DIR$/spring-boot-angular/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-boot-angular</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-boot-angular-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-angular:war exploded" />
    </root>
  </artifact>
</component>